{% extends 'layout/bootstrap.html' %}


{% block title %}
  兴小院 - 后台管理
{% endblock %}

{% block header %}
  {% include 'admin/_header.html' %}
  <div class="d-flex justify-content-center">
    <div style="width: 960px;">
      {{ message() }}
    </div>
  </div>
{% endblock %}


{% block content %}
  <div class="container d-flex justify-content-between" style="width: 1000px;">
    {% block sidebar %}
    {% endblock %}

    {% block content %}
    {% endblock %}
  </div>
{% endblock %}


{% block footer %}
  {% include 'admin/_footer.html' %}
{% endblock %}


{% block myscripts %}
  <script>

  </script>
{% endblock %}