click==6.7
Flask==1.0.2
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
Pygments==2.7.4
PyMySQL==0.8.1
SQLAlchemy==1.2.7
Werkzeug==0.14.1
WTForms==2.1
