{% extends 'layout/bootstrap.html' %}


{% block title %}
  Blog - 兴小院
{% endblock %}


{% block content %}
  <div class="container d-flex" style="margin: 60px auto 0 auto;max-width: 1024px;">
    {# side bar #}
    <div class="mr-2" style="width: 300px;">
      {# 名片 #}
      <div class="card mb-2" style="">
        <div class="card-header">院主：浮砂（fushall）</div>
        <div class="card-body">
          <div>QQ: 666666666</div>
          <div>Email: fushall@666.com</div>
          <div>github: https://github.com/fushall</div>
        </div>
      </div>

      {# 标签 #}
      <div class="card mb-2" style="">
        <div class="card-header">标签</div>
        <div class="card-body d-flex row">
          <div class="badge badge-primary mr-2 mb-2">编程（20）</div>
          <div class="badge badge-primary mr-2 mb-2">Python（34）</div>
          <div class="badge badge-primary mr-2 mb-2">Flask（74）</div>
          <div class="badge badge-primary mr-2 mb-2">C++（13）</div>
          <div class="badge badge-primary mr-2 mb-2">C++（13）</div>
          <div class="badge badge-primary mr-2 mb-2">C++（13）</div>
          <div class="badge badge-primary mr-2 mb-2">C++（13）</div>
          <div class="badge badge-primary mr-2 mb-2">C++（13）</div>
        </div>
      </div>

      {# 归档 #}
      <div class="card mb-2">
        <div class="card-header">归档</div>
        <div class="card-body">
          <div>2018年5月（55）</div>
          <div>2018年2月（57）</div>
          <div>2018年1月（12）</div>
          <div>2017年12月（1）</div>
          <div>2017年11月（78）</div>
          <div>2017年10月（21）</div>
          <div>2017年5月（9）</div>
        </div>
      </div>

      {# 合辑 #}
      <div class="card mb-2">
        <div class="card-header">合辑</div>
        <div class="card-body">
          <div>CPython3.6.5 源码分析（55）</div>
          <div>Flask1.0.1 源码分析（57）</div>
          <div>C/C++ Python混合编程（12）</div>
          <div>生活/心情（1）</div>

        </div>
      </div>
    </div>
    {# post #}
    <div style="width: 700px;">
      <div class="card" style="">
        <div class="card-body">
          <p>博文</p>
        </div>
      </div>
    </div>


  </div>
{% endblock content %}

