<!doctype html>
<html{% block html_attribs %}{% endblock %}>
{% block html %}
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>

      {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% endblock metas %}

      {% block styles %}
      {% endblock styles %}

    {% endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock %}>
  {% block body %}
    {% block navbar %}
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock %}

    {% block scripts %}
    {% endblock scripts %}
  {% endblock body %}
  </body>
{% endblock html %}
</html>
