<!doctype html>
<html{% block html_attribs %}{% endblock %}>
{% block html %}
    <head>
        {% block head %}
            <title>
                {% block title %}{% endblock %}
            </title>
            {% block metas %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% endblock metas %}
            {% if config.DEBUG %}
                <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
            {% else %}
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                      crossorigin="anonymous">
            {% endif %}
            <style>
                {#plugin {display: none;}#}
            </style>
            {% block styles %}
            {% endblock styles %}

        {% endblock head %}
    </head>
    <body{% block body_attribs %}{% endblock %}>
    {% block body %}
        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock %}

        {% block scripts %}
        {% endblock scripts %}
    {% endblock body %}
    {% if config.DEBUG %}
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    {% else %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
    {% endif %}

    {% if config.DEBUG %}
        <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
    {% endif %}

    {% if config.DEBUG %}
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% else %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    {% endif %}

    </body>
{% endblock html %}
</html>