{% extends 'admin/layout/dialog.html' %}

{% block title %}
  替换文章 - 后台管理
{% endblock %}


{% block dialog %}

  <div class="mb-3">
    <form class="card" action="{{ url_for('admin.replace_post', src_post_id=src_post.id, dist_post_id=dist_post.id) }}"
          method="post">
      <div class="card-body">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
          {{ form.text(class='form-control', placeholder='输入“确认替换”后点击提交') }}
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">提交</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex">
    <p>替换前：</p>
    <div class="w-50">
      {{ dist_post.maintext_html|safe }}
    </div>
    <p>替换后：</p>
    <div class="w-50">
      {{ src_post.maintext_html|safe }}
    </div>
  </div>
{% endblock %}
