{% extends 'admin/layout/dialog.html' %}

{% block title %}
  上传文章 - 后台管理
{% endblock %}


{% block dialog %}

  <form class="card" action="{{ url_for('admin.upload_post') }}" method="post" enctype="multipart/form-data">
    <div class="card-body">
      {{ form.hidden_tag() }}
      <input name="post_id" type="hidden" value="{{ post_id }}">
      <div class="custom-file">
        {{ form.file(id="validatedCustomFile", class="custom-file-input") }}
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">选择markdown格式的博客</div>
      </div>
      <button class="btn btn-primary btn-block mt-5" type="submit">上传</button>
    </div>
  </form>
{% endblock %}
