{% extends 'layout/bootstrap.html' %}


{% block title %}
  后台登陆 - 兴小院
{% endblock %}


{% block content %}
  <div class="containe pl-2 pr-2" style="margin: 60px auto 0 auto;max-width: 375px;">
    {{ message() }}
    <div class="card p-4">
      <h5 class="text-center mt-4 mb-4">管理你的博客吗？</h5>
      <form class="mt-4" action="{{ url_for('admin.login') }}" method="post">
        <div class="form-group">
          {{ form.hidden_tag() }}
          {{ form.username(required="", class="form-control", placeholder="输入登陆账号", style="position: relative; padding: 10px; margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;") }}
          {{ form.password(required="", class="form-control", placeholder="输入账号密码", style="position: relative; padding: 10px; border-top-right-radius: 0; border-top-left-radius: 0;") }}
        </div>
        <div class="form-check d-flex justify-content-between">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class='form-check-label') }}
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary btn-lg btn-block" type="submit" style="margin-bottom: 70px;">进入后台管理</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


{% block footer %}
  <footer class="fixed-bottom text-center mb-2" style="color: #8590a6; font-size: small;">© 2018 fushall</footer>
{% endblock footer %}


{% block myscripts %}
  <script>
    let input = $('input.form-control');
    input.focus(function () {
      $(this).css('z-index', 2);
    }).blur(function () {
      $(this).css('z-index', 'auto');
    })
  </script>
{% endblock %}
