{% macro dialog(title, context, buttonmethod="post") %}
  <form class="card" method="{{ method }}">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
      <p>{{ context }}</p>
      <div class="d-flex justify-content-around">
        <button class="btn btn-primary" type="submit" style="width: 100px;">确认</button>
        <a class="btn btn-secondary" href="{{ url_for('admin.index') }}" style="width: 100px;">返回</a>
      </div>
    </div>
  </form>
{% endmacro %}


{% macro preview_post(post) %}
  <div>预览：</div>
  <div>{{ post.html|safe }}</div>
{% endmacro %}


{% macro upload_post(post, form) %}

{% endmacro %}