<div class="ml-3 w-100">
  <div class="card">
    <div class="card-header">博客文章</div>
    <div class="card-body">
      <ul class="list-group">
        {% for post in posts %}
          <li class="list-group-item">
            <a href="{{ url_for('main.post', post_id=post.id) }}">
              <h5>{{ post.title }}</h5>
            </a>
            <div class="mb-3">更新于：{{ post.updated_at }}</div>
            <p style="color: gray;">{{ post.summary }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>