<div style="width: 380px;">
  <div class="card">
    <div class="card-header">基本信息</div>
    <div class="card-body">
      <p>姓名</p>
      <p>性别</p>
      <p>班级</p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">标签</div>
    <div class="card-body  flex-wrap">
      {% for tag in tags %}
        <button class="btn btn-info btn-sm mb-1">
          {{ tag.name }}<span class="badge badge-light">{{ 0 }}</span>
        </button>
      {% endfor %}

    </div>
  </div>

</div>