{% extends 'base/default.html' %}


{% block header %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h2" style="line-height: 1.1;" href="/">fushall's blog<br>浮砂的博客</a>
    </nav>
    <a href="https://github.com/fushall/myblog"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
{% endblock %}


{% block styles %}
    <style>
        .link {
            color: #1d2124;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="mt-4">
            <ul>
                {% for article in article_list * 10 %}
                    <li>
                        <div>
                            <a class="link"
                               href="{{ url_for('main.article', article_id=article.id) }}">{{ article.title| safe }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}