{% extends 'layout/bootstrap.html' %}


{% block title %}
  blog - 兴小院
{% endblock %}

{% block header %}
  {% include 'main/_header.html' %}
{% endblock %}


{% block content %}
  <div class="container d-flex justify-content-between" style="width: 1000px;">
    {# sidebar #}
    <div style="width: 380px;">
      <div class="card">
        <div class="card-header">基本信息</div>
        <div class="card-body">
         {{ user.info_html|safe }}
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">标签</div>
        <div class="card-body  flex-wrap">
          {% for tag in tags %}
            <a class="btn btn-info btn-sm mb-1" href="{{ url_for('main.posts', tag=tag.name) }}">
              {{ tag.name }}<span class="badge badge-light ml-1">{{ tag.posts.__len__() }}</span>
            </a>
          {% endfor %}
        </div>
      </div>

    </div>

    {# content #}
    <div class="ml-3 w-100">
      <div class="card">
        <div class="card-header">文章列表</div>
        <div class="card-body">
          <ul class="list-group">
            {% for post in posts %}
              <li class="list-group-item">
                <a href="{{ url_for('main.post', post_id=post.id) }}">
                  <h5>{{ post.title }}</h5>
                </a>
                <div class="mb-3">更新于：{{ post.updated_at }}</div>
                <p style="color: gray;">{{ post.summary_html|safe }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block footer %}
  {% include 'main/_footer.html' %}
{% endblock %}
