{% extends 'layout/bootstrap.html' %}

{% block title %}测试代码的页面{% endblock %}


{% block content %}
  <div class="container justify-content-center">
    <div id="div" class="border" style="width: 360px; height: 240px;">
      <p class="border mt-3">标签1</p>
      <p class="border">标签2</p>
      <p class="border">标签3</p>
    </div>
    <button id="btn1">？？？</button>
  </div>
{% endblock %}

{% block myscripts %}
  <script>
    var div = document.getElementById('div');
    var p = document.querySelectorAll('p');
    console.log(p);

  </script>
{% endblock %}